* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: center;
  padding: 0.8em;
  border-radius: 10px;
}

nav a {
  text-decoration: none;
  color: #000000; /* Configura a cor do texto do menu de baixo */
  padding: 0.5em 1em;
  border-radius: 5px; /* Faz borda e arredonda o botão */
  transition: background-color 0.3s;
  position: relative; /* Adiciona posição relativa para o posicionamento do submenu */
}

nav a:hover {
  color: #000000; /* Configura a cor do texto quando passa o mouse em cima do texto (menu de baixo) */
}

body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(180deg, #6a11cb, #ffffff);
  color: #333;
  text-align: center;
  padding: 20px;
}

video {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  height: auto;
}


.container {
  max-width: 800px;
  margin: 0 auto;
  background: linear-gradient(180deg, #6a11cb, #ffffff);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 3em;
  color: #e91e63;
}

.luhegl {
  width: 100%;
  max-width: 200px; /* Define o tamanho máximo da imagem */
  margin: 20px auto;
  display: block;
  border-radius: 10px;
}

p {
  font-size: 1.2em;
  margin-top: 10px;
  line-height: 1.5;
  color: #000000;
}

.mensagem {
  margin-top: 30px;
}

.mensagem h2 {
  font-size: 2em;
  color: #ff9800;
}

button {
  background-color: #7f45a0;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 1em;
  transition: background-color 0.3s; /* Transição suave de cor de fundo */
}

button:hover {
  background-color: #3caa2d;
  color: #ffffff
}

footer {
  margin-top: 50px;
  font-size: 1.2em;
  color: #777;
}

footer p {
  margin-top: 10px;
  
}
.botao-voltar {
  display: inline-block;
  padding: 10px 15px;
  background-color: #080808; /* Cor de fundo */
  color: #fff; /* Cor do texto */
  text-decoration: none; /* Remove sublinhado padrão */
  border-radius: 5px; /* Borda arredondada */
  transition: background-color 0.3s; /* Transição suave de cor de fundo */
  font-family: "Margarine", sans-serif;
}

.botao-voltar:hover {
  background-color: #333; /* Cor de fundo alterada ao passar o mouse */
  color:#6145ff;
}